@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

h1	{
	color: #1414a8;
    text-align: center;
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: xx-large;
}

* {
	box-sizing: border-box;
	
}

label{
	color: rgb(4, 4, 4);
	font-size: x-large;
	
}

body {
	background: #abd7fc;
	font-family: 'Roboto', sans-serif;
}

main {
	max-width: 1000px;
	width: 100%;
	margin: auto;
	padding: 40px;
	text-align: center;
	font-size: medium;
	
}